header {
<<<<<<< HEAD
	color: #fafafa;
=======
	color: #aaa1a1;
>>>>>>> 5779cd097d0f7d3c64229788bc1e9a0d8b9915e2
	background-color: #af2c2c;
}

a:visited {
<<<<<<< HEAD
	color: #fafafa;
=======
	color: #aaa1a1;
>>>>>>> 5779cd097d0f7d3c64229788bc1e9a0d8b9915e2
}

.container {
	display: flex;
	align-items: center;
	height: 100%;
}

.header-inner {
	flex: 1 1 auto;
}

header a {
	text-decoration: none;
}

.brand p {
<<<<<<< HEAD
	font-size: 1.5rem;
=======
	font-size: 2.5rem;
>>>>>>> 5779cd097d0f7d3c64229788bc1e9a0d8b9915e2
	margin: 1.1rem 0;
}

nav {
	position: relative;
	text-align: right;
}

nav > a,
nav .nav-link {
<<<<<<< HEAD
	color: #ffffff;
=======
	color: #aaa1a1;
>>>>>>> 5779cd097d0f7d3c64229788bc1e9a0d8b9915e2
	margin-left: 2em;
	cursor: pointer;
}
